:root {
  --red: #f55;
  --blue: #adf;
  --grey: #3a3a3a;
  --white: #eee;
  --padding: 20px;
}

body {
  margin: 0;
  padding: 20px var(--padding);
  background: var(--grey);
  font-family: Rubik, sans-serif;
  color: var(--white);
}

@media screen and (min-width:700px) {
  :root {
    --padding: 100px;
  }
}

@media screen and (min-width:1000px) {
  :root {
    --padding: 200px;
  }
}

ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--grey);
  width: 100%;
  padding-right: var(--padding);
}

nav ul li {
  display: inline-block;
  font-family: Rubik;
  font-size: 1.2em;
  color: var(--white);
  padding: 5px;
  transition: color 300ms, background 300ms;
  -webkit-transition: color 300ms, background 300ms;
  border-radius: 5px;
}

nav ul li:hover {
    color: var(--grey);
    background: var(--white);
}

h1 {
  font-family: Rubik, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--red);
  font-size: 3.7em;
  line-height: 1em;
  margin: 0;
}

h1 span {
  font-weight: 300;
  text-transform: lowercase;
  font-size: 0.8em;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  color: var(--blue);
  font-size: 1.4em;
  margin: 20px 0 40px;
}

p {
  text-align: justify;
  font-size: 1.1em;
  font-weight: 300;
}

section {
  padding-top: 100px;
}

#link-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#link-icons img {
  height: 70px;
  width: 70px;
  margin: 25px;
}

.contact-input, textarea {
  font-family: inherit;
  font-size: 1.1em;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid white;
  box-sizing: border-box;
  margin: 5px 0;
  background: var(--white);
}

.contact-input:focus, textarea:focus {
  border: 2px solid var(--blue);
  outline: none;
}

.contact-input {
  width: 70%;
  box-sizing: border-box;
}

@media screen and (max-width:500px) {
  .contact-input {
    width: 100%;
  }
}

textarea {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

button {
  border: 0;
  background: var(--red);
  padding: 10px 20px;
  font-family: inherit;
  font-size: 1.5em;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
}

button:hover {
  background: var(--blue);
}

footer {
  padding-top: 100px;
}
